/* .App {
  text-align: center;
} */
.info_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.info_repo{
  display: flex;
  width: 33%;

}
.info_repo--ul{
  list-style: none;
}
.HTML{
color: blueviolet;
}
.CSS{
  color: blue; 
}
.JavaScript{
  color: yellowgreen;
}
