.title_container {
  text-align: center;
  margin-bottom: 40px;
} 
.info_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.info_repo{
  display: flex;
  width: 33%;

}
.info_repo--ul{
  list-style: none;
  width: 300px;
}
.info_repo--list{
  font-weight: bold;
  font-size: 20px;
  
}
.HTML{
color: rgb(151, 102, 197);
}
.CSS{
  color: rgb(255, 136, 0); 
}
.JavaScript{
  color: yellowgreen;
}
